header {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

:host{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

#sec1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.bloco{
  width: 15%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.blocoUp{
  background-color: rgb(199, 199, 199);
  display: flex;
  align-items: center;
  height: 40%;
}

.blocoUp > p{
  padding-left: 25px;
}

#blocoDown{
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}

#blocoDown > select{
  padding: 10px;
  width: 70%;
}

.blocoDown2{
  display: flex;
  height: 60%;
}

.blocoDown2text{
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blocoDown2text > h2{
  color: blue;
  margin: 0;
}

.blocoDown2text > p{
  margin: 0;
}

#imagem{
  display: flex;
  justify-content: center;
}

#tabela {
  display: flex;
  width: 100%;
}

table {
  background-color: blue;
  width: 100%;
  border-collapse: collapse; 
}

thead th {
  color: white;
  border: 1px solid black;
  text-align: center;      
  vertical-align: middle;  
  padding: 15px 10px;      
}

tbody {
  background-color: beige;
}

tbody td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid black;
}